body {
  background-color: #1a1a1a;
  color: white;
  font-family: Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: calc(100vh - 4em);
  overflow-y: auto;
  margin: 0;
  padding: 2em;
}

body div {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: 2.9rem;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Pixel";
  src: url("fonts/pixel.TTF") format("truetype");
}

@font-face {
  font-family: "Dogica";
  src: url("fonts/dogicapixel.ttf") format("truetype");
}

.pixel {
  font-family: "Pixel";
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-weight: 100;
}

.dogica {
  font-family: "Dogica";
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-weight: 100;
  line-height: 1.5em;
}

.rainbow {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animatedBackground 5s linear infinite;
  -moz-animation: animatedBackground 5s linear infinite;
  -webkit-animation: animatedBackground 5s linear infinite;
  -ms-animation: animatedBackground 5s linear infinite;
  -o-animation: animatedBackground 5s linear infinite;
}

.sparkle {
  font-family: impact;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
    url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  background-clip: text;
  -webkit-background-clip: text;
}

.scrolling {
  color: blue;
  animation: scrolling 3s linear infinite;
  -moz-animation: scrolling 3s linear infinite;
  -webkit-animation: scrolling 3s linear infinite;
  -ms-animation: scrolling 3s linear infinite;
  -o-animation: scrolling 3s linear infinite;
}

.scrolling-container {
  overflow: hidden;
  height: 55px;
}

/* Animation rainbow background */
@keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}
@-moz-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}
@-ms-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}
@-o-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}

/* Y scroll animation */
@keyframes scrolling {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(100%);
  }
}
@-moz-keyframes scrolling {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(100%);
  }
}
@-webkit-keyframes scrolling {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(100%);
  }
}
@-ms-keyframes scrolling {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(100%);
  }
}
@-o-keyframes scrolling {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(100%);
  }
}
